                          <h3>Buttons</h3>
                                <ul class="actions">
                                    <li>
                                        <a href="#" class="button primary"
                                            >Primary</a
                                        >
                                    </li>
                                    <li>
                                        <a href="#" class="button">Default</a>
                                    </li>
                                </ul>
                                <ul class="actions">
                                    <li>
                                        <a href="#" class="button large"
                                            >Large</a
                                        >
                                    </li>
                                    <li>
                                        <a href="#" class="button">Default</a>
                                    </li>
                                    <li>
                                        <a href="#" class="button small"
                                            >Small</a
                                        >
                                    </li>
                                </ul>
                                <ul class="actions">
                                    <li>
                                        <a href="#" class="button primary large"
                                            >Large</a
                                        >
                                    </li>
                                    <li>
                                        <a href="#" class="button primary"
                                            >Default</a
                                        >
                                    </li>
                                    <li>
                                        <a href="#" class="button primary small"
                                            >Small</a
                                        >
                                    </li>
                                </ul>
                                <ul class="actions fit">
                                    <li>
                                        <a href="#" class="button primary fit"
                                            >Fit</a
                                        >
                                    </li>
                                    <li>
                                        <a href="#" class="button fit">Fit</a>
                                    </li>
                                </ul>
                                <ul class="actions fit small">
                                    <li>
                                        <a
                                            href="#"
                                            class="button primary fit small"
                                            >Fit + Small</a
                                        >
                                    </li>
                                    <li>
                                        <a href="#" class="button fit small"
                                            >Fit + Small</a
                                        >
                                    </li>
                                </ul>
                                <ul class="actions">
                                    <li>
                                        <a
                                            href="#"
                                            class="button primary icon solid fa-search"
                                            >Icon</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="#"
                                            class="button icon solid fa-download"
                                            >Icon</a
                                        >
                                    </li>
                                </ul>
                                <ul class="actions">
                                    <li>
                                        <span class="button primary disabled"
                                            >Primary</span
                                        >
                                    </li>
                                    <li>
                                        <span class="button disabled"
                                            >Default</span
                                        >
                                    </li>
                                </ul>
